*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --accent-color: rgb(255, 157, 206);
   --btn-color: rgba(24, 153, 204, 0.5);
}

body,
html {
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 1.2em;
}

.main-container {
   background-color: rgb(233, 233, 233);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;  
   min-height: 100vh;
}

#list-container {
   background-color: rgb(233, 233, 233);
   padding: 1em;
   height: auto;
   width: 500px;
   border-radius: 10px;
   box-shadow: 10px 10px 15px rgba(70,70,70,.12),
               -10px -10px 15px rgba(255, 255, 255, .5);
} 

ol {
   width: 100%;
   height: 100%;
   min-height: 8em;
}

#list>li {
   position: relative;
   word-wrap: break-word;
   color: rgb(120, 120, 102);
   background-color: rgb(233, 233, 233);
   font-weight: lighter;
   height: auto;
   width: 100%;
   padding: .2em .8em;
   border-radius: 10px;
   margin-bottom: 1em;
   list-style: none;
   box-shadow: 8px 8px 15px rgba(70,70,70,.12),
   -8px -8px 15px rgba(255, 255, 255, .5);
   transition: all .2s ease;
}

#list>li:hover {
   cursor: pointer;
   color: var(--accent-color);
   box-shadow: 8px 8px 15px rgba(70,70,70,.12),
   -8px -8px 15px rgba(255, 255, 255, .5),
   inset 8px 8px 15px rgba(70,70,70,.12),
   inset -8px -8px 15px rgba(255, 255, 255, .5);
}

span.list-number { margin-right: .2em; }

#inputs {
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
}

button {
   background-color: var(--btn-color);
   color: rgb(255, 255, 255);
   border-radius: 10px;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   opacity: 0.9;
   box-shadow: 10px 10px 15px rgba(70,70,70,.12),
   -10px -10px 15px rgba(255, 255, 255, .5);
}

button:hover,button:focus {
   border: none;
   outline: none;
   box-shadow: 8px 8px 15px rgba(70,70,70,.12),
   -8px -8px 15px rgba(255, 255, 255, .5),
   inset 8px 8px 8px rgba(70,70,70,.12),
   inset -4px -4px 8px rgba(255, 255, 255, .5);
}

#input-list-item::placeholder {
   color: rgba(120, 120, 102, .35);
}

#input-list-item {
   color: rgba(120, 120, 102);
   background-color: rgb(233, 233, 233);
   height: 80%;
   width: 100%;
   margin-right: 1.5em;
   border: none;
   border-radius: 10px;
   padding: 1em;
   box-shadow: 10px 10px 15px rgba(70,70,70,.12),
   -10px -10px 15px rgba(255, 255, 255, .5);
}

#input-list-item:focus, #input-list-item:hover {
   border: none;
   outline: none;
   box-shadow: 8px 8px 15px rgba(70,70,70,.12),
   -8px -8px 15px rgba(255, 255, 255, .5),
   inset 8px 8px 8px rgba(70,70,70,.12),
   inset -4px -4px 8px rgba(255, 255, 255, .5);
}

#errors {
   display: flex;
   flex-direction: row;
   min-height: .6em;
   height: auto;
}

#errors>li {
   font-size: .5em;
   font-weight: bold;
   color: hotpink;
   list-style: none;
}

.hidden {
   visibility: hidden;
}

.visible {
   visibility: visible;
}